.shop-container {
  display: flex;
  margin-left: 50px;
}
.product-container {
  border-right: 1px solid lightgray;
  margin-right: 10px;
  padding-right: 10px;
  flex-basis: 80%;
}
.cart-container {
  flex-basis: 20%;
}
